[submodule "MBAppKit"]
	path = MBAppKit
	url = https://github.com/RFUI/MBAppKit.git
[submodule "Frameworks/RFUI/Core"]
	path = Frameworks/RFUI/Core
	url = https://github.com/RFUI/Core.git
[submodule "Frameworks/RFUI/Alpha"]
	path = Frameworks/RFUI/Alpha
	url = https://github.com/RFUI/Alpha.git
