//
//  Target.xcconfig
//
//  Copyright © 2018 BB9z.
//  https://github.com/BB9z/iOS-Project-Template
//
//  Apache License, Version 2.0
//  http://www.apache.org/licenses/LICENSE-2.0
//
//  项目套件中涉及到多个 xcode project，通过配置文件统一配置
//

// Deployment target 统一，Podfile 需要手动统一
IPHONEOS_DEPLOYMENT_TARGET = 9.0;

